/* ------ index ------ */
// 1. LoginPage & RegisterPage
// 2. MY WORLD PAGE
//   2-0: 공통
//   2-1: home탭
//   2-1: diary탭

/* ------ mixin ------ */
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// 복붙해서 쓰기
// @include width-height( , );
// @include flex-center(row 또는 column);
// @include absolute-center;

/* *******   1. LoginPage & RegisterPage   ******* */

.Login_wrap {
  // @include width-height(90vw, 90vh);
  @include flex-center(column);
  @include absolute-center;
  padding: 5%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 60px rgb(225, 160, 115, 0.5);

  .h1_title {
    font-family: "yg-jalnan";
    color: #ea7c3a;
    font-size: 48px;
    margin-bottom: 100px;
  }

  .form {
    @include flex-center(column);
  }

  .input {
    all: unset;
    width: 400px;
    border-bottom: #ea7c3a 1px solid;
    line-height: 40px;
    margin: 15px;
  }

  .btn {
    all: unset;
    @include width-height(300px, 60px);
    @include flex-center(row);
    margin: 50px;
    background-color: #ef8e54;
    border-radius: 14px;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #ea7c3a;
    }
  }

  .div_p_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    p {
      margin: 0 20px;
      cursor: pointer;
      &:hover {
        color: #ef9965;
      }
    }
  }
}

/* *******   2. MY WORLD PAGE   ******* */
// ==== 2-0. 공통 ====
.frame_wrap {
  @include width-height(100vw, 100vh);
  @include flex-center(row);
  min-width: 1500px;
  min-height: 800px;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .frame {
    @include width-height(100%, 100%);
    @include flex-center(row);
    padding: 30px;
    box-sizing: border-box;
    background-color: #f8f2e7;
    border-radius: 20px;
    box-shadow: 0px 0px 60px rgb(225, 160, 115, 0.5);
    .innerFrame {
      @include width-height(100%, 100%);
      border-radius: 20px;
      background-color: #fff;
      overflow: scroll;
    }
  }
}
// nav bar
.Nav_wrap .ul_menu {
  display: flex;
  flex-direction: column;
  transform: translateY(-20vh);
}

// ==== 2-1. home탭 ====

//프로필 박스(좌측)
.left_wrap {
  @include width-height(500px, 100%);
  @include flex-center(column);
  margin-right: 30px;
  background-color: #fff;
  border-radius: 20px;
  .profile_imgBox {
    @include width-height(220px, 220px);
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
  .btn_logout {
    all: unset;
    background-color: #eee9;
    border: 1px solid #eee;
    padding: 10px 50px;
    border-radius: 20px;
    color: gray;
    cursor: pointer;
    &:hover {
      color: #333;
      background-color: #eee;
    }
  }
  ul {
    margin: 50px;
    li {
      margin: 10px;
      &:last-child {
        color: #888;
      }
    }
  }
}
//컨텐츠박스(우측)
.right_wrap {
  @include width-height(100%, 100%);
  // @include flex-center(row);
  border-radius: 20px;
  background-color: #fff;
  .diary-wrap {
    @include width-height(100%, 50%);
    display: flex;
    justify-content: center;
    background-color: #eee;

    input {
      @include width-height(80%, 30px);
      // all: unset;
      margin: 20px;
      background-color: #ddd;
    }
  }
}

// ==== 2-1. diary탭 ====
.diary-wrap {
  .contents {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 2.5rem;
      padding: 40px 10%;
      li {
        @include width-height(100%, 300px);
        border-radius: 20px;
        padding: 5%;
        box-sizing: border-box;
        background-color: #ddd;
      }
    }
  }
}
